:root {
  --color-primary: #087f5b;
  --color-primary-light-1: #218c6b;
  --color-primary-light-2: #39997c;
  --color-primary-light-3: #52a58c;
  --color-primary-light-4: #6bb29d;
  --color-primary-light-5: #e6f2ef;
  --color-primary-dark-1: #077252;
  --color-primary-dark-2: #066649;
  --color-primary-dark-3: #065940;
  --color-primary-dark-4: #054c37;
  --color-primary-dark-5: #033324;
  --color-secondary: #ff5722;
  --color-warn: #ee4d4d;
  --color-alert: #fab005;
  --color-grey-light-1: #f8f9fa;
  --color-grey-light-2: #e9ecef;
  --color-grey-light-3: #dee2e6;
  --color-grey-light-4: #ced4da;
  --color-grey-light-5: #adb5bd;
  --color-grey-dark-1: #868e96;
  --color-grey-dark-2: #495057;
  --color-grey-dark-3: #333;
  --color-grey-dark-4: #212529;
  --color-black: #000;
  --color-white: #fff;
  --font-family: "Poppins", sans-serif;
  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 600;
  --font-weight-4: 700;
  --font-size: 1.6rem;
  --gap: 3.2rem;
  --radius: 5px;
  --el-radius: 20rem;
  --shadow: 0 2rem 7rem rgba(0, 0, 0, 0.15);
  --transition-primary: all 450ms ease; }

.animations--fade {
  transition: opacity 0.4s cubic-bezier(0.1, 0.32, 0.25, 1); }

.animations--active {
  opacity: 1 !important; }

@keyframes scaleFromBottomFade {
  from {
    transform: translateY(4rem);
    opacity: 0; }
  to {
    transform: translateY(0rem);
    opacity: 1; } }

@keyframes scaleFromFade {
  from {
    transform: scale(0.8); }
  to {
    transform: scale(1); } }

@keyframes moveFromLeft {
  from {
    transform: translateX(-20rem); }
  to {
    transform: translateX(0); } }

@keyframes moveFromRightFade {
  from {
    transform: translateX(20rem);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes loader {
  from {
    transform: rotate(-360deg); }
  to {
    transform: rotate(0deg); } }

.u-center-text {
  text-align: center !important; }

.u-margin-right-small {
  margin-right: 1.5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.color--white {
  color: #fff !important; }

.color--grey-light {
  color: #eee; }

.u-list {
  display: flex;
  gap: 2.4rem;
  list-style: none; }
  .u-list__item {
    display: flex;
    align-items: center;
    gap: 0.8rem; }
    @media only screen and (max-width: 37.5em) {
      .u-list__item {
        gap: 0.4rem; } }
  .u-list__link {
    text-decoration: none; }
  .u-list--row {
    flex-direction: row;
    align-items: center; }
  .u-list--center {
    align-items: center; }
  .u-list--col {
    flex-direction: column; }
    @media only screen and (max-width: 37.5em) {
      .u-list--col {
        gap: 1rem; } }

.section {
  padding: 10rem 0;
  transition: all 1s;
  overflow: hidden; }
  .section:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-light-1); }
  .section--no-border {
    border: none !important; }
  .section--hidden {
    opacity: 0;
    transform: translateY(8rem); }
  .section--space {
    padding: 12rem 0; }
  .section--auth {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center; }
  .section--4 {
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); }
  .section--6 {
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/booking.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .section--room-play {
    background-color: #f9f9f9; }
  .section--pricing {
    background-color: var(--color-white); }
  .section--rooms {
    padding-top: 14rem; }
  .section--gallery {
    padding: 1rem;
    display: grid;
    grid-template: repeat(7, 5vw)/repeat(8, 1fr);
    grid-gap: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .section--gallery {
        padding: 2rem;
        grid-gap: 1rem; } }

.img--lazy {
  filter: blur(20px); }

.highlight {
  position: relative;
  z-index: -1; }
  .highlight::after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-primary);
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    padding: 1rem 0.5rem;
    opacity: 0.7;
    transform: scale(1.1, 1.15) skewX(-15deg); }

.u-flex {
  display: flex;
  gap: 3.2rem; }
  .u-flex--col {
    flex-direction: column; }
  .u-flex--center {
    align-items: center; }

.message {
  padding: 2.8rem 3.2rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3.2rem;
  font-size: 2.2rem;
  color: var(--color-white);
  font-weight: 600;
  border-radius: var(--radius);
  text-transform: capitalize; }
  .message--warn {
    background-color: var(--color-warning); }
  .message--success {
    background-color: var(--color-primary-light); }
  .message--alert {
    background-color: var(--color-alert); }

.u-padding-top-huge {
  padding-top: 12rem; }

.u-link:link, .u-link:visited {
  text-decoration: none;
  color: currentColor;
  font-size: 2rem;
  font-weight: var(--font-weight-4);
  text-transform: uppercase; }

.u-link--text {
  color: var(--color-primary); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: var(--color-white); }

.container {
  max-width: 110rem;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .container {
      max-width: 100rem; } }
  @media only screen and (max-width: 62.5em) {
    .container {
      max-width: 95rem; } }
  @media only screen and (max-width: 50em) {
    .container {
      max-width: 70rem; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      max-width: 50rem; } }

::selection {
  background: var(--color-primary-dark-1);
  color: var(--color-white); }

body {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-grey-dark-2);
  text-rendering: optimizeLegibility; }

.heading--primary {
  font-size: 5rem;
  font-family: var(--font-display);
  text-transform: uppercase;
  color: var(--color-grey-dark-3);
  font-weight: 700;
  line-height: 0.95;
  margin-bottom: 3.4rem; }
  @media only screen and (max-width: 37.5em) {
    .heading--primary {
      font-size: 5rem; } }

.heading--secondary {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 8rem;
  font-family: var(--font-display);
  font-style: italic; }
  .heading--secondary::after {
    content: "";
    display: block;
    width: 10rem;
    height: 0.1rem;
    border-bottom: 0.3rem solid var(--color-primary);
    margin: 0 auto;
    padding-top: 1.2rem; }

.heading--tertiary {
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.1; }

.paragraph, .list__item {
  font-size: var(--font-size);
  line-height: 1.65;
  font-weight: var(--font-weight-2);
  color: currentColor; }

.btn, .btn:link, .btn:visited {
  padding: 1.4rem 4.2rem;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 20rem;
  transition: all 0.2s ease;
  font-size: var(--font-size);
  font-weight: var(--font-weight-3);
  margin: 3.2rem;
  cursor: pointer; }

.btn--form {
  padding: 0;
  width: 16rem !important;
  height: 4rem !important;
  background: rgba(107, 178, 157, 0.4);
  color: #218c6b; }

.btn:active {
  transform: translateY(-2px); }

.btn--primary {
  background: rgba(107, 178, 157, 0.4);
  color: #218c6b; }

.btn--secondary {
  color: var(--color-primary);
  border: 3px solid var(--color-primary) !important; }

.btn--text {
  padding: 1rem 2.8rem;
  text-decoration: none;
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease; }
  .btn--text:hover {
    border-bottom: 2px solid transparent; }

.btn--white {
  background-color: var(--color-white);
  color: var(--color-grey-dark-3); }

.btn--warn {
  background-color: var(--color-warn);
  color: var(--color-white); }

.btn--fill {
  background-color: var(--color-primary);
  color: var(--color-grey-light-1); }

.btn--center {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: flex-end; }

.btn--dark {
  background-color: var(--color-primary-light-1);
  color: var(--color-grey-light-1); }

.btn:disabled {
  cursor: not-allowed;
  background-color: var(--color-grey-light-2);
  color: var(--color-grey-dark-1); }

.pricing__card {
  margin-top: 6rem;
  background-color: var(--color-white);
  padding: 3.2rem 2.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  font-size: 1.8rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow); }
  .pricing__card--active {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    transform: scale(1.1); }
    @media only screen and (max-width: 37.5em) {
      .pricing__card--active {
        transform: scale(1.05); } }

.pricing__price {
  position: absolute;
  margin-top: -6rem;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: var(--color-grey-light-1);
  padding: 2.4rem;
  font-size: 2.8rem;
  border-radius: 50%;
  border: 4px solid #fff;
  width: 12rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pricing__price span {
    font-size: 2rem; }
  .pricing__price--active {
    color: var(--color-grey-dark-1); }

.pricing__description {
  font-size: var(--font-size); }

.pricing__heading {
  font-size: 2.6rem;
  text-align: center;
  margin-top: 4rem;
  text-transform: uppercase; }
  .pricing__heading--active {
    color: var(--color-white); }

.pricing__icon {
  width: 2.6rem;
  height: 2.6rem;
  color: currentColor; }

.pricing .btn {
  align-self: center; }

.features__heading {
  font-size: 3rem;
  font-weight: var(--font-weight-3);
  text-transform: uppercase;
  line-height: 1.2;
  margin: 1.4rem 0; }

.features__card {
  display: flex;
  flex-direction: column;
  padding: 2.2rem 2.4rem;
  background-color: var(--color-white);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transition: all 0.3s;
  position: relative; }
  .features__card:hover {
    transform: translateY(-1rem); }

.features__icon {
  width: 8rem;
  height: 8rem;
  fill: var(--color-primary);
  padding: 1.2rem;
  align-self: center;
  background-color: rgba(8, 127, 91, 0.25);
  border-radius: 50%;
  margin-bottom: 2.2rem; }

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background-color: var(--color-primary-light-5);
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .info {
      grid-template-columns: repeat(1, 1fr);
      column-gap: 3.2rem; } }
  .info__img {
    height: 100%;
    width: 100%;
    transition: filter 0.5s;
    object-fit: cover; }
    @media only screen and (max-width: 50em) {
      .info__img:nth-child(3) {
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius); }
      .info__img:nth-child(4) {
        grid-row: 3;
        border-radius: 0rem; } }
    .info__img--1 {
      border-top-left-radius: var(--radius); }
      @media only screen and (max-width: 50em) {
        .info__img--1 {
          border-top-right-radius: var(--radius); } }
    .info__img--2 {
      border-bottom-right-radius: var(--radius); }
      @media only screen and (max-width: 50em) {
        .info__img--2 {
          grid-row: 3;
          border-radius: 0rem; } }
  .info__text {
    height: 100%;
    padding: 3.2rem 6.4rem;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .info__text--1 {
      border-top-right-radius: var(--radius); }
      @media only screen and (max-width: 50em) {
        .info__text--1 {
          border-radius: 0rem; } }
    .info__text--2 {
      border-bottom-left-radius: var(--radius); }
      @media only screen and (max-width: 50em) {
        .info__text--2 {
          border-bottom-right-radius: var(--radius); } }
  .info__heading {
    color: var(--color-primary-dark-5);
    font-size: 3.2rem; }

.form {
  display: flex;
  gap: 3.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  .form--center {
    padding: 3.2rem;
    max-width: 50rem;
    margin: 0 auto;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius); }
  .form__error {
    font-size: 2rem;
    color: var(--color-warn);
    font-weight: 600;
    transition: all 450ms; }
  .form__control {
    width: 100%; }
  .form__label {
    font-size: 1.8rem;
    font-weight: var(--font-weight-3);
    display: block;
    margin-bottom: 0.5rem;
    color: currentColor;
    text-transform: capitalize; }
    .form__label--light {
      color: var(--color-grey-light-1); }
    .form__label--file {
      background-color: var(--color-primary);
      padding: 1.2rem;
      border-radius: var(--el-radius);
      color: var(--color-grey-light-3);
      cursor: pointer; }
  .form__textarea, .form__input {
    transition: var(--transition-primary); }
    .form__textarea--hidden, .form__input--hidden {
      display: none; }
    .form__textarea[type="password"]::placeholder, .form__input[type="password"]::placeholder {
      font-weight: var(--font-weight-4);
      font-size: 1.8rem; }
    .form__textarea:focus, .form__input:focus {
      border: 1px solid #ccc;
      color: currentColor; }
    .form__textarea:focus:invalid, .form__input:focus:invalid {
      border: 1px solid var(--color-warn); }
    .form__textarea::placeholder, .form__input::placeholder {
      color: var(--color-grey-dark-1); }
    .form__textarea:placeholder-shown, .form__input:placeholder-shown {
      color: currentColor; }
  .form__textarea, .form__select, .form__input, .form__input-label {
    padding: 1.2rem 1.4rem;
    height: 4.2rem;
    border-radius: var(--border-radius);
    width: 100%;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: currentColor;
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff; }
  .form__input {
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    border-radius: var(--el-radius); }
    .form__input--error {
      border: 2px solid var(--color-warn);
      animation: inputError 0.4s; }
    .form__input--file {
      display: none; }
  .form__select {
    padding: 0 1.5rem;
    border-radius: var(--el-radius);
    width: 100%; }
  .form__input-label {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .form__textarea {
    height: 18rem;
    max-width: 100%; }
  .form__message {
    position: absolute;
    color: var(--color-warn);
    font-size: 1.8rem;
    font-weight: var(--font-weight-4);
    margin-top: 0.2rem;
    transition: all 450ms ease; }
  .form__img {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%; }

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.2rem;
  gap: 1rem; }
  .stars__star {
    font-size: 4rem;
    cursor: pointer;
    transition: 250ms ease; }
    .stars__star--fill {
      color: #ffd700; }
    .stars__star--empty {
      color: var(--color-grey-dark-2); }

.scroll-top {
  position: relative;
  z-index: 20;
  position: absolute;
  top: 95%;
  right: 5rem; }
  .scroll-top svg {
    height: 3.5rem;
    width: 3.5rem;
    fill: var(--color-white); }
  .scroll-top__btn {
    position: fixed;
    padding: 0.5rem;
    border: none;
    background: var(--color-primary);
    transform: translate(-50%, -50%);
    cursor: pointer; }

.reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start; }
  .reviews__review {
    padding: 1.2rem;
    display: flex;
    width: 100%;
    gap: 1.2rem;
    align-items: center; }
    .reviews__review:nth-child(odd) {
      background-color: var(--color-primary-light-4); }
    .reviews__review:nth-child(even) {
      background-color: var(--color-primary-light-1); }
    .reviews__review__stars {
      margin-left: auto; }
      .reviews__review__stars__star {
        font-size: 2rem; }
        .reviews__review__stars__star--fill {
          color: #ffd700; }
        .reviews__review__stars__star--empty {
          color: var(--color-grey-dark-2); }
    .reviews__review__name {
      font-size: 1.4rem;
      color: var(--color-grey-light-2); }
    .reviews__review__text {
      font-size: 1.8rem;
      color: var(--color-grey-light-1); }
    .reviews__review__photo {
      height: 5.2rem;
      border-radius: 50%; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.8;
  background-color: #000; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.pagination {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 0;
  gap: 2rem; }
  .pagination__btn {
    padding: 1.2rem;
    background-color: var(--color-primary);
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer; }
    .pagination__btn:disabled {
      background-color: var(--color-primary-light-4); }
    .pagination__btn__icon {
      color: #fff; }

.testimonials__box {
  padding: 3rem;
  background: var(--color-white);
  font-size: var(--font-size);
  opacity: 0.9; }

.testimonials__shape {
  width: 10rem;
  height: 10rem;
  float: left;
  transform: translateX(-1rem);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2rem; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .testimonials__shape {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none; } }

.testimonials__image {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.5s ease-in-out; }

.testimonials__name {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.6rem;
  color: var(--color-white);
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  backface-visibility: hidden;
  transition: all 0.5s; }

.testimonials__box:hover .testimonials__name {
  opacity: 1;
  visibility: visible;
  transform: translate(-35%, -50%);
  transition: all 0.5s; }

.testimonials__box:hover .testimonials__image {
  transform: scale(1.3);
  filter: blur(0.4rem); }

.gallery__item {
  width: 100%;
  height: 100%; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / 4;
    grid-column: 3 / 6; }
  .gallery__item--3 {
    grid-row: 1 / 3;
    grid-column: 6 / 7; }
  .gallery__item--4 {
    grid-row: 1 / 3;
    grid-column: 7 / -1; }
  .gallery__item--5 {
    grid-row: 3 / 6;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 4/ 6;
    grid-column: 3 / 5; }
  .gallery__item--7 {
    grid-row: 4 / 5;
    grid-column: 5 /6; }
  .gallery__item--8 {
    grid-row: 3 / 5;
    grid-column: 6 /8; }
  .gallery__item--9 {
    grid-row: 3 / 6;
    grid-column: 8/-1; }
  .gallery__item--10 {
    grid-row: 6/ 8;
    grid-column: 1 /2; }
  .gallery__item--11 {
    grid-row: 6/8;
    grid-column: 2/4; }
  .gallery__item--12 {
    grid-row: 6 / 8;
    grid-column: 4 /5; }
  .gallery__item--13 {
    grid-row: 5 / 8;
    grid-column: 5 /8; }
  .gallery__item--14 {
    grid-row: 6 / 8;
    grid-column: 8 /-1; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.booking__text-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.2rem; }
  @media only screen and (max-width: 50em) {
    .booking__text-box {
      margin-bottom: 4rem; } }

.booking__icon {
  width: 6rem;
  height: 6rem;
  fill: var(--color-primary) !important; }

.booking__info {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--color-white); }

.booking__heading {
  color: var(--color-primary-dark-5); }

.booking__paragraph {
  color: var(--color-primary-dark-4); }

.booking__text {
  color: #fff; }

.add-review {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  background-color: var(--color-grey-light-1);
  padding: 2.2rem 0; }
  .add-review__form {
    max-width: 50rem;
    margin: 0 auto;
    gap: 0; }

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 0;
  height: 100%; }
  .about__pictures {
    background: url("../img/about-2.jpg") no-repeat center center/cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .about__picture {
    display: block;
    width: 115%;
    grid-row: 2 / span 2;
    grid-column: 3 / span 3;
    z-index: 5;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2); }
  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-white);
    justify-content: center; }
  .about__text {
    width: 70%;
    font-size: var(--font-size);
    margin: 0 auto;
    line-height: 2;
    font-weight: 300;
    letter-spacing: 1px; }

.contact__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  padding: 3.2rem;
  border: var(--radius); }

.contact__icon {
  width: 10rem;
  height: 10rem;
  fill: var(--color-primary);
  margin-bottom: 2rem; }

.contact__text {
  font-size: var(--font-size); }

.search {
  margin-right: auto;
  flex: 1;
  position: relative;
  display: flex; }
  .search__box {
    flex: 0 0 80%;
    display: flex; }
  .search__input {
    padding: 1.2rem 2rem 1.2rem 4.2rem;
    background-color: #fff;
    border: 1px solid #ccc;
    flex: 0 0 80%;
    border-radius: var(--el-radius);
    color: currentColor;
    font-size: var(--font-size); }
    .search__input::-webkit-search-cancel-button, .search__input::-webkit-search-decoration, .search__input::-webkit-search-results-button, .search__input::-webkit-search-results-decoration {
      display: none; }
    .search__input:focus {
      outline: none;
      color: currentColor;
      font-family: inherit; }
  .search__btn {
    background-color: var(--color-white);
    border: none; }
  .search__icon {
    width: 2.8rem;
    height: 2.8rem;
    fill: var(--color-grey-dark-3);
    align-self: center;
    position: absolute;
    top: 50%;
    left: 1rem;
    padding-right: 0.4rem;
    border-right: 1.5px solid var(--color-grey-dark-1);
    transform: translateY(-50%); }
  .search__results {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 100%;
    width: 80%;
    background-color: var(--color-white);
    overflow: hidden; }
    .search__results__result {
      padding: 1.2rem;
      gap: 1rem;
      text-decoration: none;
      color: currentColor;
      transition: var(--transition-primary);
      animation: scaleFromBottomFade 500ms ease-in; }
      .search__results__result:hover {
        transform: scale(1.05); }
      .search__results__result__heading {
        font-size: 2rem; }
      .search__results__result__img {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 50%;
        object-fit: cover; }
      .search__results__result__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: currentColor; }
      .search__results__result:nth-child(odd) {
        background-color: var(--color-grey-light-1); }
      .search__results__result:nth-child(even) {
        background-color: var(--color-grey-light-5); }

.room-details__icon {
  width: 3.2rem;
  height: 3.2rem;
  stroke: var(--color-primary) !important;
  color: var(--color-primary) !important; }

.room-details__text {
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  gap: 0.3rem; }
  @media only screen and (max-width: 37.5em) {
    .room-details__text {
      font-size: 1.8rem; } }

.room-details__number {
  font-size: 2rem;
  font-weight: 700; }

.room-details__heading {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem; }

.room-images {
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
  overflow: hidden; }
  .room-images__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.welcome {
  position: relative; }
  .welcome__ {
    max-width: 60rem;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: var(--radius);
    padding: 3.2rem;
    animation: scaleFromFade 0.8s ease; }
    @media only screen and (max-width: 50em) {
      .welcome__ {
        max-width: 55rem; } }
    @media only screen and (max-width: 37.5em) {
      .welcome__ {
        max-width: 46rem; } }
  .welcome__icon {
    width: 12rem;
    height: 12rem;
    fill: var(--color-primary-dark);
    color: var(--color-primary-dark); }
  .welcome__highlight--bold {
    font-weight: 700; }
  .welcome__highlight--warn {
    color: var(--color-warning); }
  .welcome__text {
    font-weight: 500;
    font-size: 1.8rem; }

.sidebar {
  position: fixed;
  height: 100%;
  width: 18%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  background-color: #f7f7f7;
  margin-top: -5vh; }
  @media only screen and (max-width: 50em) {
    .sidebar {
      display: none; } }
  .sidebar__heading {
    font-size: 2.8rem;
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-grey-light-4);
    margin: 6.4rem 0; }
  .sidebar__link:link, .sidebar__link:visited {
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
    color: var(--color-grey-dark-3);
    font-size: var(--font-size); }
  .sidebar__link--logout {
    background-color: var(--color-warning); }
  .sidebar__link--active {
    background-color: var(--color-primary-dark-2);
    color: var(--color-grey-light-3) !important; }
  .sidebar__icon {
    width: 2.8rem;
    height: 2.8rem;
    fill: currentColor; }
  .sidebar__logout {
    background: var(--color-warn);
    color: var(--color-grey-light-3);
    font-weight: var(--font-weight-3);
    padding: 1.2rem;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: var(--transition-primary); }
    .sidebar__logout:hover {
      opacity: 0.9; }

.change-info {
  width: 40%;
  padding: 8rem 0; }
  .change-info:not(:last-child) {
    margin-bottom: 8rem;
    border-bottom: 1px solid var(--color-grey-light-4); }
  @media only screen and (max-width: 50em) {
    .change-info {
      width: 80%; } }

.mobile-nav {
  display: none; }
  @media only screen and (max-width: 50em) {
    .mobile-nav {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      position: fixed;
      z-index: 1000;
      background-color: #221212; } }
  .mobile-nav__link:link, .mobile-nav__link:visited {
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none; }

.message {
  position: fixed;
  top: 20%;
  right: 3rem;
  z-index: 1000;
  color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 1.4rem; }
  .message--fail {
    background-color: var(--color-warn); }
  .message--success {
    background-color: var(--color-primary-dark-1); }
  .message__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 100;
    padding: 0.8rem; }
    .message__btn__icon {
      position: absolute;
      z-index: 1;
      width: 2rem;
      height: 2rem;
      color: var(--color-grey-light-1); }

.list {
  list-style: none;
  display: flex;
  width: 100%;
  gap: 0.8rem; }
  .list--col {
    flex-direction: column; }
  .list__item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: currentColor; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.7rem); }
  .modal__content {
    padding: 3.2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 30rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    max-width: 50rem;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; }
  .modal__heading {
    font-size: 3rem; }
  .modal__text {
    font-size: 2.2rem;
    color: var(--color-granted); }
    .modal__text--error {
      color: var(--color-warn); }
  .modal__close {
    top: 12rem;
    right: 12rem;
    width: 5rem;
    height: 5rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer; }
    .modal__close__icon {
      position: relative;
      z-index: 200; }
      .modal__close__icon::before, .modal__close__icon::after {
        transition: var(--transition-primary);
        content: "";
        display: block;
        width: 3.6rem;
        height: 0.2rem;
        background-color: #fff;
        left: 0;
        top: 0;
        position: absolute; }
      .modal__close__icon::before {
        transform: rotate(-45deg); }
      .modal__close__icon::after {
        transform: rotate(45deg); }
    .modal__close:hover > .modal__close__icon::before {
      transform: rotate(120deg); }
    .modal__close:hover > .modal__close__icon::after {
      transform: rotate(220deg); }
  .modal__actions {
    display: flex;
    gap: 1.6rem; }
  .modal__btn {
    padding: 1.2rem 3.2rem;
    border: none;
    outline: none;
    color: var(--color-grey-light-1);
    border-radius: var(--border-radius);
    cursor: pointer;
    flex: 1; }
    .modal__btn--success {
      background-color: var(--color-granted); }
    .modal__btn--fail {
      background-color: var(--color-warn); }

.img-box {
  width: 100%;
  height: 100%; }
  .img-box__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.icon {
  font-size: 2.8rem;
  fill: var(--color-primary); }

.loader {
  display: flex;
  align-items: center;
  justify-content: center; }
  .loader--full {
    position: fixed;
    top: 0;
    z-index: 10000000;
    width: 100%;
    height: 100vh;
    background-color: var(--color-white); }
  .loader__load {
    height: 4rem;
    width: 0.4rem;
    background-color: var(--color-primary);
    animation: loader 0.45s cubic-bezier(1, 0, 0, 1) infinite; }
  .loader--inline {
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--color-primary-dark-2);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite; }
  .loader--fetch {
    width: 4rem;
    height: 4rem;
    text-align: center; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.two-auth {
  width: 50rem;
  padding: 3.2rem;
  background-color: var(--color-white);
  border-radius: var(--radius);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem; }
  .two-auth__heading {
    font-size: 2.2rem; }

.slider {
  max-width: 100rem;
  height: 60rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .slider__slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* THIS creates the animation! */
    transition: transform 1s; }

.orders-box {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.05);
  flex: 0 0 30%;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  .orders-box__heading {
    border-bottom: 1px solid var(--color-grey-light-2);
    padding: 1.2rem; }
  .orders-box__item {
    font-size: 2rem; }
  .orders-box__total {
    padding-top: 1.2rem;
    border-top: 1px solid var(--color-grey-light-2);
    text-align: center;
    font-size: 2.2rem;
    font-weight: var(--font-weight-4); }

.order {
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.05);
  border-radius: var(--radius); }
  @media only screen and (max-width: 50em) {
    .order {
      grid-template-columns: 1fr; } }
  .order__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius); }
  .order__text {
    padding: 3.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative; }
  .order__price {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: var(--font-weight-4); }
  .order__icon {
    position: absolute; }
    .order__icon::before, .order__icon::after {
      width: 1.4rem;
      height: 0.2rem;
      background-color: currentColor;
      top: 0; }
    .order__icon::before, .order__icon::after {
      content: "";
      display: block;
      position: absolute; }
    .order__icon::before {
      transform: rotate(45deg);
      left: 0; }
    .order__icon::after {
      transform: rotate(-45deg); }
  .order__close {
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    right: 10%;
    transition: var(--transition-primary);
    color: var(--color-grey-dark-3); }
    .order__close:hover {
      color: var(--color-warn); }

.book {
  height: 22rem;
  border-radius: var(--radius);
  background-color: var(--color-primary-dark-3);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.05); }
  @media only screen and (max-width: 50em) {
    .book {
      height: 100%; } }
  .book__text {
    padding: 3.2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 4rem;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .book__text {
        grid-template-columns: 1fr;
        row-gap: 3.2rem; } }
  .book__heading {
    grid-column: 1 /-1;
    font-size: 3.4rem; }
  .book__paragraph {
    color: var(--color-primary-light-5);
    font-weight: var(--font-weight-2);
    font-size: 1.8rem; }

.footer {
  background: var(--color-grey-light-1);
  padding: 10rem 0; }
  .footer__logo {
    text-align: center;
    height: 8rem; }
  .footer__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .footer__links {
        grid-template-columns: repeat(1, 1fr); } }
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none; }
  .footer__item {
    margin-right: 2.4rem; }
  .footer__link:link, .footer__link:visited {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: currentColor;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    display: inline-block; }
  .footer__link:hover {
    background-color: var(--color-grey-light-2);
    transform: scale(1.1); }
  .footer__social {
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-3);
    margin-right: 2.5rem; }
  .footer__copyright {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 5rem; }
    .footer__copyright a {
      text-decoration: none;
      color: var(--color-primary); }
  .footer li {
    list-style: none;
    margin-top: 3rem;
    margin-right: 2rem; }

.grid {
  display: grid;
  column-gap: 3.4rem;
  row-gap: 4.2rem; }
  .grid--auto {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  .grid--no-gap {
    gap: 0rem !important; }
  .grid--center {
    justify-content: center !important; }
  .grid--col-2 {
    grid-template-columns: repeat(2, 1fr); }
    @media only screen and (max-width: 50em) {
      .grid--col-2 {
        grid-template-columns: repeat(1, 1fr); } }
  .grid--col-3 {
    grid-template-columns: repeat(3, 1fr); }
    @media only screen and (max-width: 50em) {
      .grid--col-3 {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 37.5em) {
      .grid--col-3 {
        grid-template-columns: repeat(1, 1fr); } }
  .grid--col-4 {
    grid-template-columns: repeat(4, 1fr); }
    @media only screen and (max-width: 37.5em) {
      .grid--col-4 {
        grid-template-columns: repeat(1, 1fr); } }
  .grid--col-6 {
    grid-template-columns: repeat(6, 1fr); }
    @media only screen and (max-width: 37.5em) {
      .grid--col-6 {
        grid-template-columns: repeat(1, 1fr); } }
  .grid--col-8 {
    grid-template-columns: repeat(8, 1fr); }
    @media only screen and (max-width: 37.5em) {
      .grid--col-8 {
        grid-template-columns: repeat(1, 1fr); } }

.header {
  background-color: var(--color-primary-light-5);
  padding: 6.4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  @media only screen and (max-width: 50em) {
    .header {
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 3.2rem; } }
  .header__img-box {
    width: 100%;
    height: 100%; }
  .header__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .header__text {
    font-size: 2.2rem; }
    @media only screen and (max-width: 37.5em) {
      .header__text {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2.2rem; } }

.navbar {
  width: 100%;
  color: var(--color-grey-dark-3) !important;
  transition: all 0.4s ease;
  background-color: transparent;
  background-color: var(--color-white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid var(--color-grey-light-1);
  padding: 1.8rem;
  display: flex;
  align-items: center;
  position: fixed;
  gap: 3.2rem;
  z-index: 100; }
  .navbar__logo {
    height: 4rem; }
  .navbar__list {
    display: flex;
    list-style: none; }
    @media only screen and (max-width: 50em) {
      .navbar__list {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(1rem);
        gap: 1.6rem;
        transform: translateX(80rem);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s; } }
  .navbar__item {
    padding-right: 2rem; }
    .navbar__item--pic {
      display: none; }
      @media only screen and (max-width: 62.5em) {
        .navbar__item--pic {
          display: flex;
          justify-content: center; } }
    .navbar__item--mobile {
      display: none; }
      @media only screen and (max-width: 62.5em) {
        .navbar__item--mobile {
          display: block; } }
  .navbar__link {
    padding: 1rem;
    color: currentColor;
    font-size: var(--font-size);
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s ease-out;
    border-bottom: 3px solid transparent; }
    @media only screen and (max-width: 50em) {
      .navbar__link {
        font-size: 2.8rem; } }
    .navbar__link:hover {
      background: var(--color-primary);
      color: var(--color-grey-light-1); }
    .navbar__link--dark {
      color: #222 !important; }
    .navbar__link--active {
      border-bottom: 3px solid var(--color-primary); }
  .navbar--active {
    background-color: #fff;
    padding: 2rem 0; }
  .navbar__checkbox {
    display: none; }
  .navbar__btn {
    height: 4.5rem;
    width: 4.5rem;
    z-index: 2000;
    text-align: center;
    display: none;
    cursor: pointer;
    margin-left: auto; }
    @media only screen and (max-width: 50em) {
      .navbar__btn {
        display: block;
        margin-left: auto !important; } }
  .navbar__icon {
    width: 4rem;
    height: 0.3rem;
    position: relative;
    margin: 2.2rem auto; }
    .navbar__icon, .navbar__icon::before, .navbar__icon::after {
      width: 4rem;
      height: 3px;
      background-color: currentColor;
      display: inline-block; }
    .navbar__icon::before, .navbar__icon::after {
      position: absolute;
      content: "";
      left: 0;
      transition: all 0.3s; }
    .navbar__icon::before {
      top: 1rem; }
    .navbar__icon::after {
      top: -1rem; }
  .navbar__user {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: currentColor;
    font-size: var(--font-size);
    margin-left: auto !important; }
    @media only screen and (max-width: 50em) {
      .navbar__user {
        display: none; } }
    .navbar__user__pic {
      width: 5.6rem;
      height: 5.6rem;
      border-radius: 50%;
      object-fit: cover; }
      @media only screen and (max-width: 50em) {
        .navbar__user__pic {
          width: 12rem;
          height: 12rem; } }
    .navbar__user__name {
      font-size: 1.5rem; }
      @media only screen and (max-width: 50em) {
        .navbar__user__name {
          font-size: 4rem; } }
    .navbar__user__link {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      text-decoration: none;
      cursor: pointer;
      transition: transform 0.4s; }
      .navbar__user__link--col {
        flex-direction: column;
        gap: 1rem; }
      .navbar__user__link:hover {
        transform: scale(1.05); }
      .navbar__user__link:active {
        transform: scale(1); }
  .navbar__cart {
    width: 5rem;
    height: 5rem;
    margin-left: auto;
    color: var(--color-grey-dark-3);
    text-decoration: none;
    padding: 0.8rem;
    border-radius: 50%;
    transition: var(--transition-primary);
    position: relative; }
    .navbar__cart__number {
      position: absolute;
      top: 50%;
      background-color: var(--color-primary);
      padding: 1.2rem;
      border-radius: 200rem;
      color: var(--color-grey-light-1);
      font-weight: var(--font-weight-2);
      width: 2rem;
      height: 2rem;
      text-align: center;
      display: flex;
      align-items: center;
      transform: translateX(100%);
      justify-content: center;
      font-size: 1.7rem; }
    .navbar__cart:active, .navbar__cart:hover {
      background-color: var(--color-grey-light-1); }
  .navbar__checkbox:checked ~ .navbar__list {
    transform: translateX(0);
    opacity: 1;
    visibility: visible; }
  .navbar__checkbox:checked + .navbar__btn .navbar__icon {
    background-color: transparent; }
  .navbar__checkbox:checked + .navbar__btn .navbar__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navbar__checkbox:checked + .navbar__btn .navbar__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  @media only screen and (max-width: 62.5em) {
    .navbar__account-box {
      display: none; } }

.section--features {
  background-color: var(--color-white); }

.section-pricing {
  background: var(--color-grey);
  padding: 15rem 0; }

.section-testimonials {
  padding: 15rem 0;
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/testimonials-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

.section-booking {
  padding: 4rem 0;
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

.section--about {
  background-color: #e6f2ef;
  height: 100vh; }

.about {
  height: 105vh; }
  @media only screen and (max-width: 50em) {
    .about {
      height: 100%; } }
  .about__pictures {
    background: url("../img/about-2.jpg") no-repeat center center/cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr); }
  .about__picture {
    display: block;
    width: 115%;
    background-color: #e6f2ef;
    z-index: 5;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
    grid-row: 3 / span 2;
    grid-column: 3 / span 3; }
    @media only screen and (max-width: 50em) {
      .about__picture {
        grid-row: 5 / span 2;
        grid-column: 2 / span 2;
        transform: translateY(4.2rem); } }
  .about__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-primary-light-5); }
  .about__text {
    font-size: 2rem;
    padding: 2rem;
    line-height: 1.65;
    font-weight: var(--font-weight-2);
    color: var(--color-primary-dark-5); }
  .about__heading {
    font-size: 4rem;
    font-weight: var(--font-weight-4);
    color: var(--color-primary-dark-3);
    text-transform: uppercase;
    text-align: center; }
  .about__contact {
    grid-column: 1 / -1; }

.rooms {
  gap: 3.4rem; }
  @media only screen and (max-width: 50em) {
    .rooms {
      flex-direction: column; } }
  .rooms__grid {
    flex: 0 0 65%; }
  .rooms__room {
    position: relative;
    border-radius: var(--radius);
    color: var(--color-grey-light-1);
    overflow: hidden;
    box-shadow: var(--shadow); }
    .rooms__room__price {
      position: absolute;
      top: -2rem;
      right: -2rem;
      background-color: var(--color-primary-dark-2);
      padding: 2.2rem;
      border-top-left-radius: 5rem;
      border-bottom-left-radius: 5rem;
      font-size: 2rem; }
    .rooms__room__img {
      width: 100%;
      height: 100%;
      border-radius: var(--radius);
      position: absolute;
      z-index: -1;
      filter: brightness(40%);
      transition: transform 0.4s, filter 0.2s;
      object-fit: cover; }
    .rooms__room__text {
      padding: 3.2rem 4.4rem;
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      color: var(--color-grey-light-1);
      justify-content: space-between; }
    .rooms__room__list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3.2rem;
      row-gap: 2.5rem;
      color: var(--color-grey-light-1); }
    .rooms__room__heading {
      text-align: center;
      font-size: 3rem;
      font-weight: 700; }
    .rooms__room__background {
      background: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
      transform: skewX(-30deg);
      margin-bottom: 3rem; }
      .rooms__room__background > * {
        transform: skewX(30deg); }
    .rooms__room__rating {
      background-color: var(--color-primary-dark);
      flex: 1;
      font-size: 2rem;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--radius); }
      @media only screen and (max-width: 62.5em) {
        .rooms__room__rating {
          flex: 0 0 30%; } }
  .rooms__item {
    display: flex;
    align-items: center;
    gap: 0.65rem;
    color: var(--color-grey-light-1); }
  .rooms__icon {
    width: 2.8rem;
    height: 2.8rem;
    fill: var(--color-primary); }
    .rooms__icon--star {
      width: 2rem;
      height: 2rem; }
  .rooms__text {
    font-size: 1.5rem; }
  .rooms__room:hover > .rooms__room__img {
    transform: scale(1.1);
    filter: brightness(60%); }
  .rooms__tags {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3.2rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    padding: 3.2rem 1.8rem; }
    .rooms__tags__heading {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      font-size: 2.8rem;
      border-bottom: 2px solid var(--color-grey-light-3); }
    .rooms__tags__icon {
      width: 1em;
      height: 1em;
      fill: var(--color-primary); }
    .rooms__tags__ {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.2rem; }
    .rooms__tags__tag:link, .rooms__tags__tag:visited {
      text-decoration: none;
      background-color: var(--color-white);
      font-size: 1.5rem;
      color: var(--color-grey-dark);
      padding: 1.2rem 2.2rem;
      border-radius: 100rem;
      border: 2px solid var(--color-grey-dark); }
  .rooms__btn {
    flex: 1;
    text-align: center; }

.room {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 30vw); }
  @media only screen and (max-width: 37.5em) {
    .room {
      grid-template-rows: repeat(1, 100vw); } }
  .room__showcase {
    position: relative;
    height: 100%;
    width: 100%;
    grid-column: 1 /-1;
    grid-row: 1 / 2;
    background: linear-gradient(to right, rgba(5, 150, 105, 0.4), rgba(4, 120, 87, 0.4)); }
  .room__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1; }
  .room__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .room__heading {
    font-size: 4rem;
    color: var(--color-grey-dark);
    margin-bottom: 3.2rem; }
  .room__heading-background {
    padding: 0 3.2rem;
    background-color: var(--color-white);
    transform: skewX(-30deg);
    margin-bottom: 3rem; }
    .room__heading-background > * {
      transform: skewX(30deg); }

.signup, .login {
  background-color: var(--color-grey-light-1);
  margin-top: 10rem; }
  .signup__text, .login__text {
    padding: 6rem 3.2rem; }
    @media only screen and (max-width: 37.5em) {
      .signup__text, .login__text {
        padding: 3.2rem 0; } }
  .signup__heading, .login__heading {
    font-size: 2.2rem;
    margin-bottom: 3.68rem;
    text-align: center;
    text-transform: uppercase; }
  .signup__info, .login__info {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../img/signup.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    padding: 3.2rem;
    color: var(--color-grey-light-1); }
    @media only screen and (max-width: 50em) {
      .signup__info, .login__info {
        height: 50vh; } }
  .signup__paragraph, .login__paragraph {
    color: var(--color-grey-light); }
  .signup__author {
    font-size: 1.5rem;
    color: var(--color-grey-light-2);
    margin-top: 2.4rem; }

.login {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1); }
  .login__info {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../img/login.jpg") no-repeat center center/cover; }

.error {
  background-color: var(--color-white);
  max-width: 60rem;
  margin: 0 auto;
  padding: 6.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  gap: 1.2rem; }
  .error__heading {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--color-warning);
    text-transform: uppercase; }
  .error__msg {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-grey-dark-3);
    margin-bottom: 1rem; }

.dashboard {
  display: flex;
  padding-top: 10rem;
  gap: 6.4rem; }
  .dashboard__content {
    width: 80%; }
  .dashboard__placeholder {
    flex: 0 0 18%;
    height: 105%; }
    @media only screen and (max-width: 50em) {
      .dashboard__placeholder {
        flex: 0; } }

.two-factor {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .two-factor__img {
    width: 20rem;
    height: 20rem;
    margin: 0 auto; }

.search-page__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.search-page__result {
  font-size: 2rem; }

.section--search {
  padding: 12rem 0; }

.not-found {
  height: 100vh;
  background-color: #e6f2ef;
  padding: 3.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center; }
  .not-found__heading {
    font-size: 3rem;
    font-weight: var(--font-weight-4);
    text-transform: uppercase; }

.auth-message__text {
  font-size: 2rem; }

.auth-message__link, .auth-message__link:active, .auth-message__link:visited {
  font-size: 1.7rem;
  text-decoration: none;
  display: inline-block;
  margin-left: 0.4rem;
  color: var(--color-primary-dark-1); }
