.navbar {
  width: 100%;
  color: var(--color-grey-dark-3) !important;
  transition: all 0.4s ease;
  background-color: transparent;
  background-color: var(--color-white);
  box-shadow: 0 0 1rem rgba(#000, 0.05);
  border-bottom: 1px solid var(--color-grey-light-1);
  padding: 1.8rem;
  @include flexCenter;
  position: fixed;
  gap: 3.2rem;

  z-index: 100;

  &__logo {
    height: 4rem;
  }

  &__list {
    display: flex;
    list-style: none;
    @media only screen and (max-width: $bp-medium) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background-color: rgba(#ffff, 0.75);
      backdrop-filter: blur(1rem);
      gap: 1.6rem;
      transform: translateX(80rem);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }
  }

  &__item {
    padding-right: 2rem;
    &--pic {
      display: none;
      @media only screen and (max-width: $bp-large) {
        display: flex;
        justify-content: center;
      }
    }
    &--mobile {
      display: none;
      @media only screen and (max-width: $bp-large) {
        display: block;
      }
    }
  }

  &__link {
    padding: 1rem;
    color: currentColor;

    font-size: var(--font-size);
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s ease-out;
    border-bottom: 3px solid transparent;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.8rem;
    }
    &:hover {
      background: var(--color-primary);
      color: var(--color-grey-light-1);
    }
    &--dark {
      color: #222 !important;
    }
    &--active {
      border-bottom: 3px solid var(--color-primary);
    }
  }
  &--active {
    background-color: #fff;
    padding: 2rem 0;
  }
  &__checkbox {
    display: none;
  }

  &__btn {
    height: 4.5rem;
    width: 4.5rem;

    z-index: 2000;
    text-align: center;
    display: none;
    cursor: pointer;
    margin-left: auto;
    @media only screen and (max-width: $bp-medium) {
      display: block;
      margin-left: auto !important;
    }
  }
  &__icon {
    width: 4rem;
    height: 0.3rem;
    position: relative;
    margin: 2.2rem auto;

    &,
    &::before,
    &::after {
      width: 4rem;
      height: 3px;
      background-color: currentColor;
      display: inline-block;
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      transition: all 0.3s;
    }
    &::before {
      top: 1rem;
    }
    &::after {
      top: -1rem;
    }
  }
  &__user {
    @include flexCenter;
    gap: 1rem;
    text-decoration: none;
    color: currentColor;
    font-size: var(--font-size);
    margin-left: auto !important;
    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
    &__pic {
      width: 5.6rem;
      height: 5.6rem;
      border-radius: 50%;
      object-fit: cover;
      @media only screen and (max-width: $bp-medium) {
        width: 12rem;
        height: 12rem;
      }
    }
    &__name {
      font-size: 1.5rem;
      @media only screen and (max-width: $bp-medium) {
        font-size: 4rem;
      }
    }
    &__link {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      text-decoration: none;
      cursor: pointer;
      transition: transform 0.4s;
      &--col {
        flex-direction: column;
        gap: 1rem;
      }
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(1);
      }
    }
  }
  &__cart {
    width: 5rem;
    height: 5rem;
    margin-left: auto;
    color: var(--color-grey-dark-3);
    text-decoration: none;
    padding: 0.8rem;
    border-radius: 50%;
    transition: var(--transition-primary);
    position: relative;
    &__number {
      position: absolute;
      top: 50%;

      // left: 50%;
      background-color: var(--color-primary);
      padding: 1.2rem;
      border-radius: 200rem;
      color: var(--color-grey-light-1);
      font-weight: var(--font-weight-2);
      width: 2rem;
      height: 2rem;
      text-align: center;
      display: flex;
      align-items: center;
      transform: translateX(100%);
      justify-content: center;

      font-size: 1.7rem;
    }
    &:active,
    &:hover {
      background-color: var(--color-grey-light-1);
    }
  }
  &__checkbox:checked ~ &__list {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  &__checkbox:checked + &__btn &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__btn &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__btn &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
  &__account-box {
    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }
}
