.section--about {
  background-color: #e6f2ef;
  height: 100vh;
}
.about {
  height: 105vh;
  @media only screen and (max-width: $bp-medium) {
    height: 100%;
  }

  &__pictures {
    background: url("../img/about-2.jpg") no-repeat center center/cover;

    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  &__picture {
    display: block;
    width: 115%;
    background-color: #e6f2ef;
    z-index: 5;
    box-shadow: 0 1rem 4rem rgba(#000, 0.2);
    grid-row: 3 / span 2;
    grid-column: 3 / span 3;
    @media only screen and (max-width: $bp-medium) {
      grid-row: 5 / span 2;
      grid-column: 2 / span 2;
      transform: translateY(4.2rem);
    }
  }
  &__content {
    @include flexCol;
    background-color: var(--color-primary-light-5);
  }
  &__text {
    font-size: 2rem;
    padding: 2rem;
    line-height: 1.65;
    font-weight: var(--font-weight-2);
    color: var(--color-primary-dark-5);
  }
  &__heading {
    font-size: 4rem;
    font-weight: var(--font-weight-4);
    color: var(--color-primary-dark-3);
    text-transform: uppercase;
    text-align: center;
  }
  &__contact {
    grid-column: 1 / -1;
  }
}
