.section--features {
  background-color: var(--color-white);
}

.section-pricing {
  background: var(--color-grey);
  padding: 15rem 0;
}
.section-testimonials {
  padding: 15rem 0;
  background: linear-gradient(
      to right top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../img/testimonials-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.section-booking {
  padding: 4rem 0;
  background: linear-gradient(
      to right top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
