.signup {
  background-color: var(--color-grey-light-1);
  margin-top: 10rem;
  &__text {
    padding: 6rem 3.2rem;
    @media only screen and (max-width: $bp-small) {
      padding: 3.2rem 0;
    }
  }
  &__heading {
    font-size: 2.2rem;
    margin-bottom: 3.68rem;
    text-align: center;
    text-transform: uppercase;
  }
  &__info {
    background: linear-gradient(to bottom, rgba(#000, 0.3), rgba(#000, 0.9)),
      url("../img/signup.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    padding: 3.2rem;
    color: var(--color-grey-light-1);
    @media only screen and (max-width: $bp-medium) {
      height: 50vh;
    }
  }
  &__paragraph {
    color: var(--color-grey-light);
  }
  &__author {
    font-size: 1.5rem;
    color: var(--color-grey-light-2);
    margin-top: 2.4rem;
  }
}
