.message {
  position: fixed;
  top: 20%;
  right: 3rem;
  z-index: 1000;
  color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 1.4rem;
  &--fail {
    background-color: var(--color-warn);
  }
  &--success {
    background-color: var(--color-primary-dark-1);
  }

  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 100;
    padding: 0.8rem;
    &__icon {
      position: absolute;
      z-index: 1;
      width: 2rem;
      height: 2rem;
      color: var(--color-grey-light-1);
    }
  }
}
